
<div id="container" style="left: 0px;">
    <section id="content">

        <header>
            <div id="">
                <a href="index.html">
                    <img src="image/home/logo.jpg">
                </a>
            </div>
            <div id="preamble" class="home">
                <div class="preamble">
                    <h1>
		Manali is a high-altitude Himalayan resort town in India’s northern Himachal Pradesh state. It has a reputation as a backpacking center and honeymoon destination. Set on the Beas River, it’s a gateway for skiing in the Solang Valley and trekking in Parvati Valley. It's also a jumping-off point for paragliding, rafting and mountaineering in the Pir Panjal mountains, home to 4,000m-high Rohtang Pass.</h1>
                </div>
        </header>
        <div id="our-work">
            <ul>
                <li ng-repeat="x in obj" ng-click=detail(x)>
                    <a href=""><img src={{x.img_path}}>
                        <div class="overlay">
                            <summary>
                                <h2>{{x.name}}</h2></summary>
                            <div class="loves"><span>77</span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    </div>