<div class="reg">

    <form class="register" name="register">

        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-user"></i>
            <input type="text" name="fname" ng-model="reg.firstName" class="register-input" placeholder="first name" required />
        </div>
        <br>


        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-user"></i>
            <input type="text" name="lname" ng-model="reg.lastName" class="register-input" placeholder="last name" required />
        </div>
        <br>



        <input type="email" name="email" ng-model="reg.email" class="register-input" placeholder="Email address" required />
        <br>



        <input type="number" name="phno" ng-model="reg.phNo" class="register-input" ng-minlength="10" ng-maxlength="10" placeholder="phone number" ng-required="true" />
        <br>



        <input type="password" name="password" ng-model="reg.pass" class="register-input" placeholder="Password" required />
        <br>
        <input type="password" name="password1" ng-model="password1" class="register-input" placeholder=" confirm Password" ng-required/>
        <br>
        <div ng-show="register.password1.$viewValue != '' && (register.password1.$viewValue != register.password.$viewValue)">Fields do not match!</div>


        <button type="submit" ng-click="registerpage(reg)" ng-class="button1" ng-style="customStyle.style" data-ng-disabled="checkQuestions(password,user.password1)" class="register-button">Create Account</button>
        <br>
    </form>
    <form>
        <input ng-model='p.id' type=number>
        <input ng-model='p.name'>
        <input ng-model='p.img_path'>
        <input ng-model='p.info'>
        <input type=submit ng-click=registerpage2(p)>
    </form>
</div>