
        <div class="div" style="margin-top:20px;">
            <p id="para" style="font-size:large;margin-top:28px;">Sign in to continue</p>
            <div id="div2">

                <tr>
                    <div>
                        <form name="res">
                            <td><input type="email" name="email"
                                       placeholder="enter emailid" ng-model="mail" required="required"
                                       autofocus="autofocus"></td> <br>

                            <br> <br>
                            <td><input type="password" ng-model="password"
                                       placeholder="enter password" required="required"
                                       autofocus="autofocus"></td> <br>

                            <td><br>
                                <div class="last">

                                
                               <button class="button" type="submit"  ng-click="submit(mail,password)">login</button>
                                  </div></td>
                        </form>
                </div>
                </tr>
            
        </div></div>

