<div class="div" style="background-image:url('image/login/india_tourism.png');margin-top:45px;height:initial;margin-bottom:275px;margin-left:344px;width:651px;">
    <p id="para" style="font-size:large;margin-top:28px;color:black">sign in to continue</p>
  
   
    <div id="div2">

        <tr>
            <div>

                <td>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-user" style="left:64px"></i>
                        <input type="email" name="email" placeholder="enter emailid" ng-model="mail" required="required" autofocus="autofocus">
                    </div>
                </td>
                <br>

                <br>
                <td>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-hand-right" style="left:64px"></i>
                        <input type="password" ng-model="password" placeholder="enter password" required="required" autofocus="autofocus">
                    </div>
                </td>
                <br>

                <td>
                    <br>
                    <div class="last">


                           <span  ng-style="style" ng-show="myVar">invalid user name or password</span><br>
                        <button class="button" type="submit" ng-click="submit(mail,password)" style="margin-top:-5px">login </button>
                        <button class="button" ng-click="reg()">New user</button>
                        <br>


                    </div>
                </td>

            </div>
        </tr>

    </div>
</div>